body{
    width: 100%;
    height: 100%;
}

h2{
    text-align: center;
    background-color: red;
    margin: 20px 10px 20px 6px;/* top right bottom left */
  }
  #grandparent{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
  } /* targeting id */
  .header1{
    background-color: lightblue;
    padding: 10px;
    text-align: center;
  }/* targeting class */
 
 
  img{
    width: 50%;
    height:50%;
    border-radius: 50%;

  }
/* jo element uthta hain that is absolute */
/* jiske bhi andar apne ko element rakhna hota hain uska position is relative*/
/* top left tabhi chalta hain jab position ho us element me */
/* flex box -- width me kaam karne ke liye  hota hain justify content and height k liye align-items  */


  